article{
ul{
	list-style-type: none;
	
}
	ul>li h3{
		cursor: pointer;
	}
}



.text{
	font-size: 1.1rem;
	line-height: 1.6em;
	font-family: Helvetica Verdana Arial;
	background-color: #fff;
	color: #000;
	display: none;
	padding: 35px;
	border-radius: 3px;
}

h2{
	font-size: 1.5rem;
	line-height: 1.6em;
	font-family: Helvetica Verdana Arial;
	color: #646464;

}

article{
	padding-bottom: 10px;

}

article ul div.ac_flap{
	display: none;
}