.contact_info{
	margin: 15px auto;
	color: #fff;
	letter-spacing: 5px;
	text-align: justify;
	display: block;
	width: 70%;
	background-color: rgba(0,0,0,0.5);
	padding: 10px 0 10px 10px;
	font-size: 0.9rem;
	font-family: Helvetica Verdana Arial;
	font-weight: bold;
	line-height: 1.1em;
	box-shadow: 0 0 4px #aaa;

}

ul>li.contact_info>a{
		text-decoration: none;
		color: inherit;
		text-indent: none;
}
ul>li.contact_info>a:hover{
	color: #0000ff;
}
// #contact_options > li:nth-child(3) > a{
// 		text-decoration: none;
// 		color: inherit;
// 		text-indent: none;
// }