.html5{
	background-color:#e34f26;
}

.js{
	background-color:#ffd900;
}

.css3{
	background-color:#0099e5;
}

.nodejs{
	background-color:#3ac21a;
}

.boots{
	background-color:#7d3f98;
}

.jq{
	background-color:#0769ad;
}


.sass{
	background-color:#c69;
}

.react{
	background-color:#00d8ff;
}

.redux{
	background-color:#551a8b;
}

.photoshop{
	background-color:#000080;
}

.git{
	background-color:#bd2c00;
}

.express{
	background-color:#6cc644;
}

.c_sharp{
	background-color:#440044;
}

.unity{
	background-color:#777;
}

.blender{
	background-color:#ffa500;
}

// .substance_painter
// electron
// react native
// python