body{
  font-size: 15px;
  background-image: url('../../img/background/pattern/ep_naturalblack.png');
  background-repeat: repeat;
  background-color: #000;
}

.center{
    width:80%;
    margin: 0 auto;
} 